<div class="container">
  <div class="row selectorMode">
    <button class="btn allWorkouts">View All Workouts</button>
    <button class="btn createWorkoutButton">New Workout Form</button>
  </div>
  <div class="row createWorkout">
    <form>
      <div class="form-group">
        <label for="workoutName">Workout Name</label>
        <input type="text" class="form-control" id="workoutName" placeholder="Leg Day">
      </div>
      <button type="submit" class="btn btn-primary">Create New Workout</button>
      {{!-- <input type="number" id="quantity" name="quantity" min="1" max="5"> --}}
    </form>
  </div>
</div>